* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 100%;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	min-height: 100vh;
}
.buttonsTable{
	text-align: right;
	margin-bottom: 5px;
}
.alerta, .alertaNombre, .alertaExiste{
	display: none;
}